* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--color-bg);
    color: var(--color-text);

    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

a:hover {
    opacity: 0.8;
}

img {
    max-width: 100%;
    display: block;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: 10px;

    background: var(--color-accent);
    color: black;

    padding: 8px 12px;

    border-radius: 6px;
}

.skip-link:focus {
    left: 10px;
}

.nav__list a {
    padding: 8px 12px;
    border-radius: 6px;
}

.nav__list a:hover {
    background: #1db95422;
}
